/* === HOME === */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  border-bottom: 1px solid #efefef;
}

h1 {
  color: #1c5d76;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.nav-links a {
  text-decoration: none;
  border: 1px solid #1c5d76;
  color: #1c5d76;
  font-weight: bold;
  padding: 5% 10%;
}

.nav-links a:hover {
  text-decoration: underline;
}

.pizza-section {
  background-image: url("./pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 56vh;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pizza-section h2 {
  font-size: 3rem;
  color: white;
}

.pizza-section a {
  background-color: white;
  border: 1px solid black;
  padding: 2% 4%;
  text-decoration: none;
  color: #1c5d76;
  font-weight: bold;
  font-size: 1.5rem;
}

.pizza-section a:hover {
  text-decoration: underline;
}

/* === FORM COMPONENT === */

.formDiv {
  padding: 5%;
}

.formDiv h2 {
  font-size: 2rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.formGroup h3, input {
  margin: 2% 0;
}

.formGroup h3 {
  font-size: 1.5rem;
}

.formGroup label {
  font-size: 1.2rem;
}