nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  border-bottom: 1px solid #efefef;
}

h1 {
  color: #1c5d76;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.nav-links a {
  text-decoration: none;
  border: 1px solid #1c5d76;
  color: #1c5d76;
  font-weight: bold;
  padding: 5% 10%;
}

.nav-links a:hover {
  text-decoration: underline;
}

.pizza-section {
  background-image: url("./pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 56vh;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pizza-section h2 {
  font-size: 3rem;
  color: white;
}

.pizza-section a {
  background-color: white;
  border: 1px solid black;
  padding: 2% 4%;
  text-decoration: none;
  color: #1c5d76;
  font-weight: bold;
  font-size: 1.5rem;
}

.pizza-section a:hover {
  text-decoration: underline;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
